@media print {
	* {
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		background: none !important;
	}

    @page {
        margin: 0.5cm;
    }

	html { font-size: 62.5%; }

	body {
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		font: 1.6rem/150% Garamond,"Times New Roman", serif !important;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: Helvetica, Arial, sans-serif;
	}

	h1 { font-size: 3rem; }
	h2 { font-size: 2.6rem; }
	h3 { font-size: 2.2rem; }
	h4 { font-size: 1.8rem; }
	h5 { font-size: 1.4rem; }
	h6 { font-size: 1rem; }

	p, li {	font-size: 1.6rem; }

	code, pre, blockquote {
		font: 1.4rem Courier, monospace;
		border: none !important;
        page-break-inside: avoid;
	}

	blockquote { padding: 1rem; }

	img {
		display: block;
		margin: 1rem auto;
		max-width: 100% !important;
	}

	a img { border: none; }

	table {
        margin: 1px;
        text-align: left;
    }

    th {
        border-bottom: 1px solid #333;
        font-weight: bold;
    }

    td { border-bottom: 1px solid #333; }
    th, td { padding: 4px 10px 4px 0; }
    tr, img { page-break-inside: avoid; }
    thead { display: table-header-group; }

    caption {
        background: #fff;
        margin-bottom: 2em;
        text-align: left;
    }

    a {
    	text-decoration: none;
    	color: blue;
    }

    a[href]:after {  content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 { page-break-after: avoid; }

}