/*----------------------------------------

2012 - 2013 @ All rights reserved
Author: Kevin Py
Website: www.kevinpy.fr
Shortt Framework V 1.8
Website: http://kevinpy.fr/playground/Projects/Shortt/

Licence CC-BY
http://creativecommons.org/licenses/by/3.0/fr/

----------------------------------------

1 - General
	1.1 - Import
	1.2 - CSS Reset & Clearfix
	1.3 - Style
	1.4 - General
	1.5 - Header
	1.6 - Content
	1.7 - Footer

2 - Pages
	2.1 - Homepage

99 - Media Queries
	99.1 - Tablet
	99.2 - Mobile
	99.3 - Small

----------------------------------------*/

/*----------------------------------------*/
/* 1.1 - Import */
/*----------------------------------------*/



/*----------------------------------------*/
/* 1.2 - CSS Reset - www.meyerweb.com */
/*----------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }
.clearfix:before, .clearfix:after { content: "."; display: block; height: 0; overflow: hidden; }
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

/*----------------------------------------*/
/* 1.3 - Style */
/*----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	line-height: 200%;
}
h1 { font-size: 3rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1rem; }

p {
	font-size: 1.4rem;
	line-height: 150%;
}

a {

}

a:hover {

}

a img { border: none; }
a > img { vertical-align: bottom; }
img { display: block; }
address { font-style: italic; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: thin solid dotted #000; }
strong, dfn, kbd { font-weight: bold; }
em, dfn, cite, samp, var { font-style: italic; }
sup { font-size: 1.1rem; vertical-align: top; }
sub { font-size: 1.1rem; vertical-align: bottom; }
small { font-size: 1.1rem; }
del { text-decoration: line-through; }
ins { text-decoration: underline; }
code, pre { line-height: 175%; }
var, kbd, samp, code, pre { font-family: "Andale Mono", Courier, "Courier New", monospace; background: #fff; }
code { padding: .5rem; }
pre {
	white-space: pre;
	overflow: auto;
	padding: 1rem;
	border: thin solid #000;
	clear: both;
	background: none;
	margin: 3rem auto;
}
table {
	border: thin solid #000;
	line-height: 1.8rem;
	margin: 0 0 2rem 0;
	text-align: left;
	padding: 0 .5rem;
}
caption { text-align: left; }
tr { border-bottom: thin solid #000; }
th, td { padding: .5rem; vertical-align: middle; text-align: center; }

.hidden { display: none; }
.left, .alignleft { float: left; width: auto; }
.right, .alignright { float: right; width: auto; }
.center, .aligncenter { margin: 0 auto; display: block; clear: both; }

/*----------------------------------------*/
/* 1.4 - General */
/*----------------------------------------*/

html { font-size: 62.5%; }

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*----------------------------------------*/
/* 1.5 - Header */
/*----------------------------------------*/



/*----------------------------------------*/
/* 1.6 - Content */
/*----------------------------------------*/



/*----------------------------------------*/
/* 1.7 - Footer */
/*----------------------------------------*/



/*----------------------------------------*/
/* 2.1 - Homepage */
/*----------------------------------------*/



/*----------------------------------------*/
/* 99.1 - Tablet */
/*----------------------------------------*/

@media screen and (max-width: 960px) {
	
}

/*----------------------------------------*/
/* 99.2 - Mobile */
/*----------------------------------------*/

@media screen and (max-width: 640px) {

}

/*----------------------------------------*/
/* 99.3 - Small */
/*----------------------------------------*/

@media screen and (max-width: 320px) {

}